{% extends "base.html" %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div 
        class="container"
        x-data="renderBarChart('{% url 'stock_level' location_id %}')">
        
        <div class="row gy-4">
            <div class="col-md-4">
                <c-card>
                    <h5>Test Slot</h5>
                </c-card>
            </div>
            <div class="col-md-8">
                <c-card>
                    <div>
                        <canvas id="bar-chart" x-ref="canvas"></canvas>
                    </div>
                </c-card>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <c-card>
                    <div id="pagination-container"></div>
                    <c-table>
                        <tbody id="stock-table-body" hx-get="{% url 'stock_movements' location_id %}" hx-trigger="load"></tbody>
                    </c-table>
                </c-card>
            </div>
        </div>
    </div>
{% endblock content %}

